.Game {
    width: 100%;
    text-align: center;
}

.info {
    text-align: center;
    padding: 20px 0 0 0;
}

.message {
    display: inline-block;
    border: 1px solid #43adb8;
    padding: 10px 20px;
    font-size: .9em;
}

.headline {
    text-align: center;
    font-size: .9em;
    margin-top: 5px;
}

.player {
    margin-bottom: 10px;
}
