.Auth {
    width: 100%;
    //text-align: center;
}

.headline {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    max-width: 300px;
    padding: 6px 10px;

    margin-bottom: 10px;
}

.submit {
    border: 1px solid gainsboro;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 6px 10px;
}
