.filter {
    margin: 0;
    padding: 0;
    height: 60px;
    text-align: center;

    &--list {
        padding: 0;
        margin: 0;
    }

    &__item {
        display: inline-block;
        font-size: .8em;
        margin-right: 6px;
        cursor: pointer;
        padding: 2px 10px;
        border: 1px solid gainsboro;

        &:last-child {
            margin-right: 0;
        }

        &--selected {
            color: white;
            background-color: #43adb8;
        }
    }
}

.submit {
    margin-top: 8px;

    border: 1px solid gainsboro;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 2px 10px;
}