.Lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.8);
    text-align: center;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease 0s, visibility 0s ease 0.4s, transform 0.4s ease, -webkit-transform 0.4s ease, top 0.4s ease, z-index 0s ease 0.4s;

    &:after {
        content: "";
        position: relative;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    &__window {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 700px;
        max-width: 96%;
        max-height: 90%;
        padding: 30px 25px;
        background-color: #eee;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
        text-align: left;
        transform: scale(0.6, 0.6);
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
        transition: transform 0.4s ease-in, opacity 0.4s ease;
    }

    &__isLoading {
        margin: 0 auto;
    }

    &__open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 0.5s ease 0s, visibility 0s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s, top 0.4s ease, z-index 0s ease 0s;

        .Lightbox__window {
            opacity: 1;
            transform: scale(1, 1);
            transition: transform 0.4s ease 0.2s, opacity 0.4s linear 0.2s;
        }
    }

    &__closer {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: 0.3s ease;
        height: 26px;

        svg {
            height: 26px;
            width: 26px;
        }

        &:hover,
        &__clicked {
            transform: rotate(180deg);
        }
    }

    &__print {
        position: absolute;
        top: 35px;
        right: 10px;
        cursor: pointer;
    }
}
